// FONT FAMILIES
$merryweather: 'Merriweather', serif;
$roboto: 'Roboto', sans-serif;

// MARGINS AND PADDINGS
$def-padding: 60px;
$def-lineheight: 2.2rem;

// TRANSITIONS AND FILTERS
$short-trans: 0.3s;
$medium-trans: 0.5s;
$long-trans: 1s;
$cyan-filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);

// COLOR PALETTE
$white: white;
$black: black;
$darkgray: #303030;
$mediumgray: #595959;
$lightgray: #CECECE;
$lightgraytrans: #cecece60;
$darkcyan: #55ACEE;
$lightcyan: #40C4FF;
$lightcyantrans: #F2F8FC;
$lightcyantranshover: #F7FDFF;
$gold: #FFD740;
$red: #EE2852;

// CUSTOM COMPONENTS
.cyan-btn {
    font-size: 1.5rem;
    font-family: $roboto;
    letter-spacing: 2px;
    font-variant: small-caps;
    display: inline-block;
    color: $white;
    background: $lightcyan;
    border: none;
    padding: 30px 80px;
    cursor: pointer;
    transition: $short-trans;
    &:hover{
        color: $lightcyan;
        background: $white;
    }
    &:focus{
        color: $darkcyan;
        background: $lightgray;
    }
  }