// FONT FAMILIES
$merryweather: 'Merriweather', serif;
$roboto: 'Roboto', sans-serif;

// MARGINS AND PADDINGS
$def-padding: 60px;

// COLOR PALETTE
$white: white;
$black: black;
$darkgray: #303030;
$mediumgray: #595959;
$lightgray: #CECECE;
$darkcyan: #55ACEE;
$lightcyan: #40C4FF;
$gold: #FFD740;
$red: #EE2852;